*{
    box-sizing: border-box;
}
html{scroll-behavior: smooth;}

h1{font-size: 3.5em;}
h2{font-size: 2.7em;}
h3{font-size: 2em;}
p{font-size: 1.25em;}

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

button{
    font-size: 2em;
    font-weight: bold;
    padding: 10px 40px;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 2px 2px 10px black;
    color: rgb(255, 255, 255);
    background-color: #07ad8b;
}

button:hover{
    background-color:#306070;
}

.container{
    max-width: 100px;
    margin: auto;
}

header{
    background-color: rgb(245,245,245);
}

header .logo{
    margin: 0;
    padding: 25px 35px;
    font-weight: bold;
    color: #1d576b;
    font-size: 2em;
}

header .container{
    display: flex;
    flex-direction: column;
 align-items: center;
}

header .nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    
    padding-bottom: 25px;
}

header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: rgb(000, 000,000);
}

header a:hover{
    color: #5197af;
}

#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    color: white;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(vecteezy_group-of-people-are-reading-the-bible_8624248_646.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.color-acento{color: #07ad8b;}

#somos-lantec{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.7),
        rgba(0,0,0,0.7)
    )
    ,url(quienessomos.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#somos-lantec .container{
    text-align: center;
    padding: 200px 12px;
    color: rgb(255, 255, 255);
}

footer{
    background-color: rgb(235,235,235);
}

footer p{
    align-items: flex-end;
    padding: 0px;
    color: black;
   
}
footer .container{
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}  

@media (min-width: 600px){

    header{
        position: fixed;
        width: 100%;
    }
    
    header .container{
        flex-direction: row;
        justify-content: space-between;
    }

    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 30px;
    }

    #hero{
        height: 100vh;
    }
}
